*{
    margin:0;
    padding:0; 
}

li{ 
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color:pink;
    text-align: center;
    color: white;
    font-weight: 200;
}

.tituloInicio{
    text-align:center;
    font-size:30px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}

#subtituloIndex{
    color:purple;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

