@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
    font-family: 'Monserrat',sans-serif
}

.logo{
    width: 10rem;
    border-radius: 20%;
}

li{ 
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color:pink;
    text-align: center;
    color: white;
    font-weight: 200;
}

.tituloInicio{
    display: flex;
    overflow:none;
    height: 90px;
    width: 50%;
    min-width: 400px;
    text-align:center;
    font-size:50px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}

#subtituloIndex{
    color:purple;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footerIndex{
    background-color:pink;
    text-align: center;
}

.imagen_pos{
    display: none;
   /* position: absolute;
    top:450px; left:30px;*/
}


/*p{
    display: inline;
}
*/
.barra-nav{
    display: flex;
    justify-content: center;
    

    background-color: antiquewhite;
    border-color: saddlebrown;
    border-style: dashed;
    list-style: none;
}

.nav_item{
    /*flex:1;*/
    /*flex-grow:1;*/
    /*flex-shrink: 0;
    flex-basis:0;*/


    background-color: brown;
    list-style: none;
    border-color: pink;
    /*border-style: solid;*/
    list-style: none;
}

.nav_item a{
    color: #ebc6c6;
   /* background-color: blue;*/
}



.navegacion{
        /*height: 26px;
        background-color: white;
        border: 3px;
        border-style: dotted;
        */
}

@media only screen and (min-width:320px)
and(max-width:500px){
    body{
        background-color: aqua;
    }
}

@media only screen and (min-width:500px)
and(max-width:1000px){
    body{
        background-color: coral;
    }
}